.small-image{
    width: 100px;
    height: 100px;
}
/* styles.css */

/* Hintergrundfarbe der Seite */
body {
    background-color: #f5f5f5; /* Helles Grau */
        font-family: 'Arial', sans-serif; /* Verwendung einer sans-serif-Schriftart */
        font-size: 16px; /* Standard-Schriftgröße */
    
}
h1 {
    font-size: 36px; 
    font-family: 'Arial', sans-serif; 
    color: ; 
    text-transform: uppercase; 
    text-align: center; /* Zentrierte Ausrichtung */
    margin-top: 30px; /* Größerer Abstand zum oberen Rand */
    margin-bottom: 20px; /* Größerer Abstand zum darunterliegenden Element */
}
.header-container {
    display: flex; /* Flexbox verwenden */
    align-items: center; /* Zentrieren der Elemente vertikal */
    margin-top: 30px; /* Größerer Abstand zum oberen Rand */
    margin-left: auto;
    margin-right: auto;
}

/* Stile für das h2-Element */
h2 {
    font-size: 28px; /* Größere Schriftgröße */
    font-family: 'Arial', sans-serif; /* Verwendung einer anderen Schriftart */
    color: 
    
}


/* Stile für das Foto */
.recipe-image {
    width: 200px; /* Breite des Fotos */
    height: auto; /* Höhe automatisch anpassen */
    border-radius: 10px; /* Abgerundete Ecken */
    margin-left: 20px; /* Abstand zum Text */
}
/* Stile für Schaltflächen */
button[type="button"] {
    padding: 12px 20px; /* Größere Polsterung */
    border: none;
    border-radius: 10px; /* Abgerundete Ecken */
    background-color: #6c757d; /* Farbe, die zur UX passt */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Sanfte Übergänge */
    margin-bottom: 15px; /* Abstand zum darunterliegenden Text */
}

button[type="button"]:hover {
    background-color: #495057; /* Dunklere Farbe beim Hovern */
}
/* styles.css */

/* Allgemeine Stile für Eingabefelder */
input[type="text"], input[type="file"] {
    width: 75%; /* Breite auf 75% der Seite festlegen */
    padding: 15px; /* Größere Polsterung */
    border: 1px solid #ccc;
    border-radius: 15px; /* Größerer Radius für abgerundete Ecken */
    margin-bottom: 20px; /* Größerer Abstand zum darunterliegenden Element */
    margin-top: 10px; /* Abstand zum darüberliegenden Text */
    font-family: 'Arial', sans-serif; /* Verwendung einer sans-serif-Schriftart */
    font-size: 18px; /* Größere Schriftgröße */
}

/* Stile für Schaltflächen */
button[type="button"] {
    padding: 12px 20px; /* Beibehaltung der ursprünglichen Polsterung */
    border: none;
    border-radius: 10px; /* Abgerundete Ecken beibehalten */
    background-color: #6c757d; /* Farbe, die zur UX passt */
    color: white;
    font-size: 16px; /* Beibehaltung der ursprünglichen Schriftgröße */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Sanfte Übergänge */
    margin-bottom: 20px; /* Größerer Abstand zum darunterliegenden Text */
    font-family: 'Arial', sans-serif; /* Verwendung einer sans-serif-Schriftart */
}

button[type="button"]:hover {
    background-color: #495057; /* Dunklere Farbe beim Hovern */
}

